examples/map-0/src/main/resources/xyz-order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XYZOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="order-id"/>
        <xs:element type="xs:string" name="priority"/>
        <xs:element type="xs:string" name="cust-id"/>
        <xs:element name="line-items">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="item-id"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="amount"/>
            <xs:attribute type="xs:float" name="cost"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>